{% comment %} {% load tailwind_tags %} {% endcomment %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}KAAYM{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    {% block styles %}{% endblock %}
</head>
<body class="bg-white text-gray-800">

    <!-- Navigation -->
    {% include 'components/header.html' %}

    <!-- Page Content -->
    <main class="min-h-screen">
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="bg-gray-100 mt-16 py-8 text-center text-gray-600 text-sm">
        <div>© {{ now|date:"Y" }} KAAYM. All rights reserved.</div>
    </footer>
</body>
    {% block scripts %}{% endblock %}
</html>
