{% extends "base.html" %}
{% load static %}
{% block title %}Welcome to KAAYM{% endblock %}

{% block content %}
    <h1>Music</h1>
    <p>Mwiijje.</p>
    <P>Friday Fellowsips' videos</P>
    <ul></ul>l>
       <li><a href="https://www.youtube.com/watch?v=1">Video 1</a></li>
       <li><a href="https://www.youtube.com/watch?v=2">Video 2</a></li>
        <li><a href="https://www.youtube.com/watch?v=3">Video 3</a></li>

    <a href="/">Home</a>

    {% include  'partials/audio-card.html' %}

</html>
{% endblock %}